.container{
  border: 1px solid blue;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px 200px 300px;
  grid-template: 100px 200px 300px / 25% 25% 25%; For Resonsivness */
  grid-template: 100px 200px 300px / 1fr 3fr 1fr;   /* For Resonsivness */
  /* gred-gap: 10px; */


}

.box{
  background-color: orange;
  border: 1px solid blue;
  }
